<h1>login</h1>
<a href="signup">Don't have an account? Register now!</a>
<form style="display:flex;flex-direction: column;" method="POST" action="/auth/login">
    <label for="">Username:<input type="text" name="username" <% if (typeof errorMessage !== 'undefined') { %>
        value="<%= userData.username %>"
       <% } %>></label>
    <label for="">Password:<input type="password" name="password"></label>
    <button type="submit">Login</button>
</form>

<% if (typeof errorMessage !== 'undefined') { %>
    <p style="color: red"><%= errorMessage %></p>
    <% } %>
    