<h1>sign up</h1>

<form style="display:flex;flex-direction: column;" method="POST" action="/auth/signup">
    <label for="">Username:<input type="text" name="username"></label>
    <label for="">Email:<input type="email" name="email"></label>
    <label for="">Password:<input type="password" name="password"></label>
    <button type="submit">signUp</button>
</form>